<div
  class="w-full bg-[#f3f3f3] items-center flex sticky top-0 z-10 flex-row justify-between p-3 sm:px-20 sm:py-3"
>
  <div>
    <a href="/">
      <img src="/public/images/GSC_logo.png" class="sm:w-[30px] w-[20px]" />
    </a>
  </div>
  <div class="sm:flex hidden items-center">
    <div
      class="bg-[#ffffff] shadow sm:min-w-[26em] rounded-xl flex items-center justify-between sm:px-4 sm:h-[3em]"
    >
      <div>
        <p class="text-xs">Any Category</p>
      </div>
      <div class="border-x-[1px] sm:px-3">
        <p class="text-xs">Any Subscription</p>
      </div>
      <div class="">
        <p class="text-xs">Any Date</p>
      </div>
      <div class="">
        <button
          class="px-3 py-2 text-white rounded-full duration-150 hover:bg-[#bf3902] text-xs bg-[#e65218]"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div
    class="flex items-center sm:-translate-x-0 -translate-x-[4em] space-x-3 sm:p-0 px-3 sm:space-x-3"
  >
    <a href="/dashboard/events"><p class="text-sm text-gray-800">Events</p></a>
    <p class="text-sm text-gray-800">Bookings</p>
    <a href="/dashboard" class="sm:block hidden">
      <div
        class="sm:flex hidden justify-between pr-2 overflow-hidden items-center bg-white rounded-full"
      >
        <img id="pfp" src="/public/images/pfp.jpeg" alt="" class="w-[2.8em]" />
        <i class="fa text-sm cursor-pointer text-gray-500 fa-angle-down"></i>
      </div>
    </a>
  </div>
</div>
