<div class="sm:w-[60%] text-white sm:space-y-14 sm:flex flex-col">
  <!-- Card -->
  <div class="sm:min-h-[20em] sm:flex sm:space-x-[3em] sm:flex-row">
    <img src="/public/images/gallery_img1.png" alt="" class="sm:w-[250px]" />
    <div class="sm:flex justify-center flex-col sm:space-y-[2em]">
      <p class="text-xl sm:w-[240px] noto">
        Carpe diem nonstop all day, everyday
      </p>
      <!-- details -->
      <ul class="list-none space-y-5 sm:w-[500px] text-sm sm:pl-[4em]">
        <li>Quality: We only offer high-quality events and services.</li>
        <li>Variety: We have a wide variety of events to choose from.</li>
        <li>
          Convenience: We make it easy for you to find the perfect event and to
          plan the perfect party.
        </li>
        <li>Value: We offer our services at competitive prices.</li>
      </ul>
    </div>
  </div>

  <div class="sm:min-h-[20em] sm:flex sm:-space-x-[3em] sm:flex-row-reverse">
    <img
      src="/public/images/gallery_img2.png"
      alt=""
      class="sm:w-[300px] sm:h-[210px]"
    />
    <div class="sm:flex justify-center flex-col sm:space-y-[2em]">
      <p class="text-xl sm:w-[240px] noto">
        Find the perfect event for your needs and plann the perfect party
      </p>
      <!-- details -->
      <ul class="list-none space-y-5 sm:w-[500px] text-sm sm:pl-[4em]">
        <li>Quality: We only offer high-quality events and services.</li>
        <li>Variety: We have a wide variety of events to choose from.</li>
        <li>
          Convenience: We make it easy for you to find the perfect event and to
          plan the perfect party.
        </li>
        <li>Value: We offer our services at competitive prices.</li>
      </ul>
    </div>
  </div>

  <div class="sm:min-h-[20em] sm:flex sm:space-x-[3em] sm:flex-row">
    <img src="/public/images/gallery_img3.png" alt="" class="sm:w-[250px]" />
    <div class="sm:flex justify-center flex-col sm:space-y-[2em]">
      <p class="text-xl sm:w-[240px] noto">
        We make it easy to buy and sell tickets online
      </p>
      <!-- details -->
      <ul class="list-none space-y-5 sm:w-[500px] text-sm sm:pl-[4em]">
        <li>Quality: We only offer high-quality events and services.</li>
        <li>Variety: We have a wide variety of events to choose from.</li>
        <li>
          Convenience: We make it easy for you to find the perfect event and to
          plan the perfect party.
        </li>
        <li>Value: We offer our services at competitive prices.</li>
      </ul>
    </div>
  </div>
</div>
