<div
  class="w-full flex fixed sm:bg-transparent bg-[#e6e6e6a9] z-10 flex-row justify-between p-3 px-[2em] sm:px-20 sm:py-5"
>
  <a href="/">
    <img src="/public/images/GSC_logo.png" class="sm:w-[40px] w-[20px]" />
  </a>
  <div class="sm:flex hidden items-center">
    <div
      class="bg-[#ffffff6e] sm:min-w-[26em] rounded-xl flex items-center justify-between sm:px-4 sm:h-[3em]"
    >
      <div>
        <p class="text-xs text-white">Any Category</p>
      </div>
      <div class="border-x-[1px] sm:px-3">
        <p class="text-xs text-white">Any Subscription</p>
      </div>
      <div class="">
        <p class="text-xs text-white">Any Date</p>
      </div>
      <div class="">
        <button
          class="px-3 py-2 rounded-full duration-150 hover:bg-[#bf3902] text-xs text-white bg-[#e65218]"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="flex items-center text-white sm:space-x-3">
    <a href="/signin">
      <button
        class="px-3 py-2 rounded-full duration-150 hover:bg-[#bf3902] text-sm text-white"
      >
        Signin
      </button>
    </a>
    <a href="/signup">
      <button
        class="px-3 py-2 rounded-full duration-150 hover:bg-[#bf3902] text-sm text-white bg-[#e65218]"
      >
        Signup
      </button>
    </a>
  </div>
</div>
