<div
  id="modal"
  class="fixed z-30 center right-0 overflow-hidden left-0 top-0 bottom-0 backdrop-blur-lg w-full bg-[#858585d5]"
>
  <div
    class="bg-white flex flex-col items-center justify-center py-8 space-y-2.5 text-black shadow-lg rounded-md relative sm:w-[35%]"
  >
    <span id="close" class="absolute cursor-pointer top-0 right-0 m-4 mx-6"
      >&Cross;</span
    >
    <img
      src="/public/images/undraw_os_upgrade_re_r0qa 1.png"
      alt=""
      class="sm:w-[14em]"
    />
    <p class="text-slate-800 font-semibold noto">Upgrade to Pro!</p>
    <p class="text-gray-700 sm:w-[80%] text-center text-xs noto">
      Upgrade to pro to enjoy exciting features and amazing services
    </p>
    <a href="/subscription">
      <button
        class="sm:w-[6em] py-2 text-white rounded-full duration-150 hover:bg-[#bf3902] text-xs bg-[#e65218]"
      >
        Upgrade
      </button>
    </a>
  </div>
</div>
