<div class="sm:pb-[3em] flex flex-col sm:space-y-[2.5em]">
  <p class="sm:text-2xl text-center noto text-[#bf3902]">Testimonials</p>
  <div class="sm:flex items-center sm:justify-center sm:space-x-[8em] w-full">
    <!-- Testimonial card -->
    <div
      style="
        background: url(/public/images/testimonal1.png);
        background-size: contain;
        background-repeat: no-repeat;
      "
      class="bg-black sm:flex items-center rounded-xl sm:w-[17em] sm:h-[20em]"
    >
      <div
        id="testimonial"
        class="bg-white sm:flex sm:flex-col sm:space-y-2 sm:justify-between rounded-lg sm:w-[80%] sm:-translate-x-[6em] sm:p-[1em]"
      >
        <div class="sm:w-[30px] sm:h-[30px] rounded-full bg-red-600"></div>
        <p class="sm:text-xs">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, eius!
        </p>
        <p class="text-sm noto">Abdullahi Sadiq</p>
      </div>
    </div>

    <div
      style="
        background: url(/public/images/testimonial2.png);
        background-size: contain;
        background-repeat: no-repeat;
      "
      class="bg-black sm:flex items-center rounded-xl sm:w-[17em] sm:h-[20em]"
    >
      <div
        id="testimonial"
        class="bg-white sm:flex sm:flex-col sm:space-y-2 sm:justify-between rounded-lg sm:w-[80%] sm:-translate-x-[6em] sm:p-[1em]"
      >
        <div class="sm:w-[30px] sm:h-[30px] rounded-full bg-blue-600"></div>
        <p class="sm:text-xs">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, eius!
        </p>
        <p class="text-sm noto">Abishola Adebanjo</p>
      </div>
    </div>
  </div>
</div>
