<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/public/images/GSC_logo.png"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css"
    />
    <link rel="stylesheet" href="/public/styles/design.css" />
    <link rel="stylesheet" href="/public/styles/styles.css" />
    <title>Grown&Sexy</title>
  </head>
  <body class="bg-[#f1f1f1]">
    <div class="w-full relative">
      <div
        class="absolute z-20 flex sm:justify-start justify-center h-full px-3 items-center right-0 top-0"
      >
        <p class="text-xs noto"><%= data.username %></p>
      </div>
      <%- include("partials/dashboard-heading.ejs") -%>
    </div>

    <div
      id="hero-section-dashboard"
      class="h-[29em] text-white center border-black"
    >
      <div class="sm:w-[70%] center sm:space-y-5 flex-col">
        <p class="noto text-center text-2xl sm:text-4xl">
          Fun, Dating and Connection <br />
          All in One Place
        </p>
        <div class="center w-full">
          <a href="/dashboard/events">
            <button
              class="w-[9em] noto rounded-full text-white text-sm py-2 hover:bg-[#bf3902] bg-[#e65218]"
            >
              Go to events
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="p-6">
      <p class="noto text-sm text-gray-800">Browse Category</p>
      <p class="sm:text-2xl noto text-slate-900">Lagos</p>
      <div class="flex my-3 items-center space-x-3">
        <button
          class="w-[10em] rounded-full text-xs border-[.5px] border-gray-400 text-gray-700 py-2"
        >
          Change Location
        </button>

        <button
          class="w-[8.9em] rounded-full text-xs border-[.5px] border-gray-400 text-gray-700 py-2"
        >
          Filter by Date
        </button>
      </div>
    </div>
    <div class="">
      <div
        class="sm:flex sm:p-0 px-4 sm:flex-row flex-col sm:space-y-0 space-y-4 sm:py-[2.5em] flex-wrap sm:justify-center items-center"
      >
        <div
          class="sm:w-[25%] w-full h-[12em] flex my-2 items-end sm:h-[10.5em] bg-blue-500 text-white event sm:p-0 sm:m-2 rounded-xl"
        >
          <div
            class="sm:p-[1em] sm:bg-transparent bg-[#9494947c] sm:h-auto w-full backdrop-blur p-3 rounded-b-xl noto text-sm"
          >
            Color Party
          </div>
        </div>

        <div
          class="sm:w-[25%] w-full h-[12em] flex my-2 items-end sm:h-[10.5em] bg-blue-500 text-white event sm:p-0 sm:m-2 rounded-xl"
        >
          <div
            class="sm:p-[1em] sm:bg-transparent bg-[#9494947c] sm:h-auto w-full backdrop-blur p-3 rounded-b-xl noto text-sm"
          >
            Line Dancing
          </div>
        </div>

        <div
          class="sm:w-[25%] w-full h-[12em] flex my-2 items-end sm:h-[10.5em] bg-blue-500 text-white event sm:p-0 sm:m-2 rounded-xl"
        >
          <div
            class="sm:p-[1em] sm:bg-transparent bg-[#9494947c] sm:h-auto w-full backdrop-blur p-3 rounded-b-xl noto text-sm"
          >
            Karaoke Fun
          </div>
        </div>

        <div
          class="sm:w-[25%] w-full h-[12em] flex my-2 items-end sm:h-[10.5em] bg-blue-500 text-white event sm:p-0 sm:m-2 rounded-xl"
        >
          <div
            class="sm:p-[1em] sm:bg-transparent bg-[#9494947c] sm:h-auto w-full backdrop-blur p-3 rounded-b-xl noto text-sm"
          >
            Fellas Only
          </div>
        </div>

        <div
          class="sm:w-[25%] w-full h-[12em] flex my-2 items-end sm:h-[10.5em] bg-blue-500 text-white event sm:p-0 sm:m-2 rounded-xl"
        >
          <div
            class="sm:p-[1em] sm:bg-transparent bg-[#9494947c] sm:h-auto w-full backdrop-blur p-3 rounded-b-xl noto text-sm"
          >
            Girls Only
          </div>
        </div>
        <div
          class="sm:w-[25%] w-full h-[12em] flex my-2 items-end sm:h-[10.5em] bg-blue-500 text-white event sm:p-0 sm:m-2 rounded-xl"
        >
          <div
            class="sm:p-[1em] sm:bg-transparent bg-[#9494947c] sm:h-auto w-full backdrop-blur p-3 rounded-b-xl noto text-sm"
          >
            Speed Dating
          </div>
        </div>
      </div>
      <div class="m-2 sm:p-0 px-5 py-3">
        <form action="/logout" method="post">
          <button
            class="min-w-[5em] py-1.5 border-[.5px] text-gray-800 border-gray-600 rounded-full noto text-sm"
          >
            Logout
          </button>
        </form>
      </div>
    </div>
    <%- include("partials/footer.ejs") -%>
  </body>
</html>
