<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/public/images/GSC_logo.png"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css"
    />
    <link rel="stylesheet" href="/public/styles/design.css" />
    <link rel="stylesheet" href="/public/styles/styles.css" />
    <title>Grown&Sexy</title>
  </head>
  <body class="h-screen relative bg-[#eeeeee] flex flex-col">
    <%- include("partials/dashboard-heading")-%>

    <form
      class="sm:p-[2em] justify-center flex-1 sm:flex-row flex-col-reverse flex"
    >
      <div class="flex sm:w-[50%] sm:p-2 px-[1.6em] flex-col space-y-4 p-2">
        <p class="text-xl text-gray-800 font-semibold">Payment Method</p>
        <div class="w-full flex items-center space-x-2 sm:space-x-3">
          <div class="px-3 py-1 text-sm text-white rounded-full bg-[#bf3902]">
            Credit Card
          </div>
          <div class="px-3 py-1 text-sm text-gray-600 rounded-full bg-[white]">
            Paypal
          </div>
        </div>

        <div class="flex flex-col w-full space-y-4 p-2">
          <div>
            <p class="text-gray-800">Payment Details</p>
            <p class="text-gray-600 text-xs">Bank Charges may be included</p>
          </div>

          <div class="w-full flex flex-col space-y-3">
            <input
              type="text"
              placeholder="Card Number"
              class="border-[.5px] w-full text-xs bg-transparent border-gray-500 rounded p-2.5"
            />
            <input
              type="text"
              placeholder="Card Holder Name"
              class="border-[.5px] w-full text-xs bg-transparent border-gray-500 rounded p-2.5"
            />
            <div class="w-full flex items-center space-x-2">
              <input
                type="text"
                placeholder="Expiration Date"
                class="border-[.5px] flex-grow text-xs bg-transparent border-gray-500 rounded p-2.5"
              />
              <input
                type="text"
                placeholder="Security Code"
                class="border-[.5px] flex-grow text-xs bg-transparent border-gray-500 rounded p-2.5"
              />
            </div>
          </div>
        </div>

        <div class="flex flex-col w-full space-y-4 p-2">
          <div>
            <p class="text-gray-800">Address Details</p>
          </div>

          <div class="w-full flex flex-col space-y-3">
            <select
              type="text"
              placeholder="Card Number"
              class="border-[.5px] text-black w-full outline-none text-xs bg-transparent border-gray-500 rounded p-2.5"
            >
              <option value="ss" disabled selected>-Select Country-</option>
              <option value="nigeria">Nigeria</option>
              <option value="cameroon">Cameroon</option>
            </select>
            <input
              type="state"
              placeholder="Card Holder Name"
              class="border-[.5px] w-full text-xs bg-transparent border-gray-500 rounded p-2.5"
            />
            <input
              type="city"
              placeholder="Card Holder Name"
              class="border-[.5px] w-full text-xs bg-transparent border-gray-500 rounded p-2.5"
            />
            <input
              type="street"
              placeholder="Card Holder Name"
              class="border-[.5px] w-full text-xs bg-transparent border-gray-500 rounded p-2.5"
            />
            <input
              type="Zip Code"
              placeholder="Card Holder Name"
              class="border-[.5px] w-full text-xs bg-transparent border-gray-500 rounded p-2.5"
            />
            <div class="flex space-x-2 items-center">
              <input type="checkbox" class="" name="" id="" />
              <p class="text-gray-700 text-xs">
                i authorize Grown&sexy to charge me automatically until i cancel
                my subscription. I have to read and agree to Grown&Sexy Term's
                and Privacy Policy.
              </p>
            </div>
            <button
              type="submit"
              class="noto sm:hidden bg-[#bf3902] hover:shadow-lg duration-100 text-white text-sm rounded-full w-full py-2"
            >
              Place Order
            </button>
          </div>
        </div>
      </div>

      <div
        class="sm:flex-grow-[.485] flex items-start justify-center sm:w-[50%] p-2"
      >
        <div
          class="sm:px-[1.2em] overflow-hidden sm:py-[1.3em] sm:shadow-md sm:bg-white flex flex-col space-y-2 rounded-xl sm:w-[70%]"
        >
          <div class="w-full flex justify-center">
            <img
              src="/public/images/latest_event1.png"
              alt=""
              class="sm:w-[23em]"
            />
          </div>
          <p class="text-gray-800 text-xl font-semibold">Singles Night Out</p>
          <p class="text-gray-700 text-sm">Sun Dec 10 at 7:00pm</p>
          <p class="text-gray-700 text-sm">Old Carolina</p>
          <div class="flex sm:first-line:py-3 justify-between items-center">
            <p class="text-sm text-gray-800 font-semibold">Tickets</p>
            <div class="flex items-center space-x-3">
              <i
                class="fa text-lg cursor-pointer text-gray-400 fa-minus-square"
              ></i>
              <p class="text-xs">1</p>
              <i
                class="fa text-lg cursor-pointer text-blue-700 fa-plus-square"
              ></i>
            </div>
          </div>
          <div class="flex sm:first-line:py-3 justify-between items-center">
            <p class="text-sm text-gray-800">Price</p>
            <p class="text-sm noto font-semibold">$250</p>
          </div>
          <div
            class="p-2 rounded-lg flex flex-col space-y-2 bg-[#bf3902] text-white"
          >
            <div class="flex justify-between items-center">
              <p class="text-sm">Discount Price</p>
              <p class="noto text-sm font-medium">$180</p>
            </div>
            <p class="text-xs underline">
              Upgrade to Pro to enjoy discount prices
            </p>
          </div>

          <div class="sm:py-[1em] flex justify-between items-center">
            <p class="font-semibold">Total</p>
            <p class="font-semibold noto">$250</p>
          </div>
          <button
            type="submit"
            class="noto sm:block hidden bg-[#bf3902] hover:shadow-lg duration-100 text-white text-sm rounded-full w-full py-2"
          >
            Place Order
          </button>
        </div>
      </div>
    </form>
  </body>
</html>
