<!-- Home page -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      href="/public/images/GSC_logo.png"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/styles/design.css" />
    <link rel="stylesheet" href="/public/styles/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grown&Sexy Club</title>
  </head>
  <body class="w-full overflow-x-hidden">
    <%- include("partials/header.ejs")-%>
    <div
      id="hero-section"
      class="sm:h-[40em] sm:bg-cover sm:pb-[5.6em] flex justify-center items-end bg-black"
    >
      <div class="flex flex-col sm:space-y-[1.3em]">
        <p class="sm:text-3xl text-base noto text-center text-white">
          Fun, and Dating and Connection <br />
          All in One Place
        </p>
        <div class="justify-center flex">
          <button
            class="rounded-full sm:px-6 duration-150 sm:py-3 noto hover:bg-[#e66e3e] text-white text-sm bg-[#bf3902]"
          >
            Join now
          </button>
        </div>
      </div>
    </div>
    <div class="sm:py-[4em]">
      <!-- Mission section -->
      <p class="sm:text-2xl text-center noto text-[#bf3902]">
        Why Gown and Sexy Club ?
      </p>
      <div class="flex flex-col items-center my-3 sm:space-y-[3.4em]">
        <div class="sm:flex w-[70%] justify-between">
          <img src="/public/images/one.svg" alt="image" class="sm:w-[140px]" />
        </div>

        <div class="sm:flex w-[70%] sm:space-x-4 justify-between">
          <div class="flex items-center justify-end">
            <p class="sm:w-[60%] font-extralight noto text-sm">
              Our mission is to provide our customers with the best possible
              event planning experience. We want to make it easy for you to find
              the perfect event for your needs and to plan the prefect party.
            </p>
          </div>
          <img
            src="/public/images/two.svg"
            alt="image"
            class="sm:w-[140px] sm:-translate-y-[4em]"
          />
        </div>

        <div class="sm:flex w-[70%] justify-between">
          <div class="flex items-center justify-end">
            <p class="sm:w-[45%] font-extralight noto text-sm">
              We are your one-stop shop for all things events and parties. We
              have a wide variety of events to choose from, including concerts,
              festivals, parties, and more. We also offer a variety of services
              to make your event planning easy, including ticketing, catering,
              and venue rentals.
            </p>
          </div>
        </div>

        <div class="sm:flex w-[70%] justify-between">
          <img
            src="/public/images/three.svg"
            alt="image"
            class="sm:w-[140px]"
          />
          <div class="sm:flex sm:space-x-4">
            <img
              src="/public/images/four.svg"
              alt="image"
              class="sm:w-[140px]"
            />
            <img
              src="/public/images/five.svg"
              alt="image"
              class="sm:w-[140px]"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="sm:py-10 z-30 translate-y-[4em] flex flex-col sm:space-y-6">
      <!-- Gallery Section -->
      <p class="sm:text-2xl text-center noto text-[#bf3902]">Our Gallery</p>
      <div class="sm:flex sm:justify-between">
        <img
          src="/public/images/gallery1.png"
          alt=""
          class="sm:w-[23%] gallery-box"
        />
        <img
          src="/public/images/gallery2.png"
          alt=""
          class="sm:w-[23%] gallery-box"
        />
        <img
          src="/public/images/gallery3.png"
          alt=""
          class="sm:w-[23%] gallery-box"
        />
        <img
          src="/public/images/gallery4.png"
          alt=""
          class="sm:w-[23%] gallery-box"
        />
      </div>
    </div>

    <div class="bg-[#fe540e] py-10 -z-10 relative sm:min-h-[50em]">
      <img
        src="/public/images/solar_ticket-bold-1.png"
        alt=""
        class="w-[100px] absolute sm:top-[2.3em] right-0"
      />
      <img
        src="/public/images/solar_ticket-bold.png"
        alt=""
        class="w-[100px] sm:bottom-0 left-0 absolute"
      />
      <div class="sm:pt-[8em] flex justify-center">
        <%- include("partials/gallery_card.ejs") -%>
      </div>
    </div>
    <div class="sm:py-[5em]">
      <!-- Event Categories -->
      <p class="sm:text-2xl text-center noto text-[#bf3902]">
        Event Categories
      </p>
      <div class="sm:flex sm:py-[2.5em] flex-wrap justify-center items-center">
        <!-- <div class="sm:w-[70%] border-2"></div> -->
        <div
          class="sm:w-[25%] flex items-end sm:h-[10.5em] bg-blue-500 text-white event m-2 rounded-xl"
        >
          <div
            class="sm:p-[1em] w-full backdrop-blur-md rounded-b-xl noto text-sm"
          >
            Color Party
          </div>
        </div>

        <div
          class="sm:w-[25%] flex items-end sm:h-[10.5em] bg-blue-500 text-white event m-2 rounded-xl"
        >
          <div
            class="sm:p-[1em] w-full backdrop-blur-md rounded-b-xl noto text-sm"
          >
            Line Dancing
          </div>
        </div>

        <div
          class="sm:w-[25%] flex items-end sm:h-[10.5em] bg-blue-500 text-white event m-2 rounded-xl"
        >
          <div
            class="sm:p-[1em] w-full backdrop-blur-md rounded-b-xl noto text-sm"
          >
            Karaoke Fun
          </div>
        </div>

        <div
          class="sm:w-[25%] flex items-end sm:h-[10.5em] bg-blue-500 text-white event m-2 rounded-xl"
        >
          <div
            class="sm:p-[1em] w-full backdrop-blur-md rounded-b-xl noto text-sm"
          >
            Fellas Only
          </div>
        </div>

        <div
          class="sm:w-[25%] flex items-end sm:h-[10.5em] bg-blue-500 text-white event m-2 rounded-xl"
        >
          <div
            class="sm:p-[1em] w-full backdrop-blur-md rounded-b-xl noto text-sm"
          >
            Girls Only
          </div>
        </div>
        <div
          class="sm:w-[25%] flex items-end sm:h-[10.5em] bg-blue-500 text-white event m-2 rounded-xl"
        >
          <div
            class="sm:p-[1em] w-full backdrop-blur-md rounded-b-xl noto text-sm"
          >
            Speed Dating
          </div>
        </div>
      </div>
    </div>

    <div class="sm:py-[2em]">
      <p class="sm:text-2xl text-center noto text-[#bf3902]">Latest Events</p>
      <div
        class="sm:flex sm:py-[2.5em] flex-wrap sm:space-y-4 justify-center items-center"
      >
        <!-- <div class="sm:w-[70%] border-2"></div> -->
        <div class="sm:w-[28%] sm:flex sm:flex-col sm:space-y-3">
          <div
            style="background-image: url(/public/images/latest_event1.png)"
            class="sm:w-[90%] latest-event flex items-end sm:h-[14.5em] bg-blue-500 text-white m-2 rounded-xl"
          ></div>
          <div class="sm:flex sm:flex-col sm:space-y-1 sm:pl-3">
            <p class="noto font-semibold">Singles Night Out</p>
            <p class="text-sm text-gray-700">Nov 5 - Old Caroline</p>
            <p class="noto text-sm">From $300.00</p>
          </div>
        </div>
        <div class="sm:w-[28%] sm:flex sm:flex-col sm:space-y-3">
          <div
            style="background-image: url(/public/images/latest_event2.png)"
            class="sm:w-[90%] latest-event flex items-end sm:h-[14.5em] bg-blue-500 text-white m-2 rounded-xl"
          ></div>
          <div class="sm:flex sm:flex-col sm:space-y-1 sm:pl-3">
            <p class="noto font-semibold">Singles Night Out</p>
            <p class="text-sm text-gray-700">Nov 5 - Old Caroline</p>
            <p class="noto text-sm">From $300.00</p>
          </div>
        </div>
        <div class="sm:w-[28%] sm:flex sm:flex-col sm:space-y-3">
          <div
            style="background-image: url(/public/images/latest_event3.png)"
            class="sm:w-[90%] latest-event flex items-end sm:h-[14.5em] bg-blue-500 text-white m-2 rounded-xl"
          ></div>
          <div class="sm:flex sm:flex-col sm:space-y-1 sm:pl-3">
            <p class="noto font-semibold">Singles Night Out</p>
            <p class="text-sm text-gray-700">Nov 5 - Old Caroline</p>
            <p class="noto text-sm">From $300.00</p>
          </div>
        </div>
        <div class="sm:w-[28%] sm:flex sm:flex-col sm:space-y-3">
          <div
            style="background-image: url(/public/images/latest_event2.png)"
            class="sm:w-[90%] latest-event flex items-end sm:h-[14.5em] bg-blue-500 text-white m-2 rounded-xl"
          ></div>
          <div class="sm:flex sm:flex-col sm:space-y-1 sm:pl-3">
            <p class="noto font-semibold">Singles Night Out</p>
            <p class="text-sm text-gray-700">Nov 5 - Old Caroline</p>
            <p class="noto text-sm">From $300.00</p>
          </div>
        </div>
        <div class="sm:w-[28%] sm:flex sm:flex-col sm:space-y-3">
          <div
            style="background-image: url(/public/images/latest_event3.png)"
            class="sm:w-[90%] latest-event flex items-end sm:h-[14.5em] bg-blue-500 text-white m-2 rounded-xl"
          ></div>
          <div class="sm:flex sm:flex-col sm:space-y-1 sm:pl-3">
            <p class="noto font-semibold">Singles Night Out</p>
            <p class="text-sm text-gray-700">Nov 5 - Old Caroline</p>
            <p class="noto text-sm">From $300.00</p>
          </div>
        </div>
        <div class="sm:w-[28%] sm:flex sm:flex-col sm:space-y-3">
          <div
            style="background-image: url(/public/images/latest_event1.png)"
            class="sm:w-[90%] latest-event flex items-end sm:h-[14.5em] bg-blue-500 text-white m-2 rounded-xl"
          ></div>
          <div class="sm:flex sm:flex-col sm:space-y-1 sm:pl-3">
            <p class="noto font-semibold">Singles Night Out</p>
            <p class="text-sm text-gray-700">Nov 5 - Old Caroline</p>
            <p class="noto text-sm">From $300.00</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Members subscription -->
    <div class="sm:w-full flex pb-[4em] justify-center">
      <div
        id="membership-card"
        class="sm:w-[80%] sm:flex sm:items-end rounded-xl sm:h-[30em]"
      >
        <div
          class="sm:flex sm:p-[5em] sm:w-[35em] sm:flex-col noto text-white sm:space-y-5"
        >
          <p class="sm:text-2xl font-semibold">Members Subscription</p>
          <p>
            Subscribed members enjoy more event listings, massive discount on
            every event amd many more!
          </p>
          <div>
            <button
              class="sm:px-[2em] noto px-3 py-2 rounded-full duration-150 hover:bg-[#bf3902] text-xs text-white bg-[#af3200]"
            >
              Explore
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonials -->
    <div><%- include("partials/testimonials.ejs")-%></div>
    <div
      style="
        background: url(/public/images/contact.png);
        background-size: cover;
        background-position: center;
      "
      class="sm:h-[30em] sm:flex sm:justify-center sm:items-center w-full bg-black"
    >
      <div class="sm:w-[30%] text-center text-white flex flex-col space-y-4">
        <p class="sm:text-4xl noto">We're here for you</p>
        <p class="sm:text-sm">
          Do you have something in mind? reach out to our support team today
        </p>
        <div class="w-full flex justify-center">
          <button
            class="sm:w-[10em] sm:py-4 noto rounded-full duration-150 hover:bg-[#bf3902] text-sm text-white bg-[#e65218]"
          >
            Contact Us
          </button>
        </div>
      </div>
    </div>
    <div class="sm:h-[26em]"><%- include("partials/footer.ejs") -%></div>
  </body>
</html>
